<h1><%= @user.name %>'s Posts</h1>
<% unless @user.posts.empty? %>
	<table class="posts" summary="User posts">
		<%= render @posts %>
	</table>
	<%= will_paginate @posts %>
<% end %>
	Write a new post:
	<%= render 'shared/post_form' %>
	
