.squareicon {
	height: 16px;
	width: 16px;
	margin: 4px;
	vertical-align: middle;
}

.post {
	max-width: 400px;
	margin: 40px;
}

.right {
	float: right;
}

#postbody{
	max-width: 300px;
}

h3 a{
	color: #2E2633;
}

h3 a:hover{
	color: #99173C;
	background-color: white;
}

